---

---

<div
  class="min-h-[293px]  px-[12px] md:px-[24px] xl:px-[32px] pb-[40px] w-full"
>
  <div class="pt-[60px] flex flex-col md:flex-row">
    <div class="flex-1 pb-[40px]">
      <div class="flex items-center gap-[8px]">
        <img src="/logo.svg" alt="ScopeDB Logo" class="h-[24px] w-[24px]" />
        <span class="text-[18px] text-[#000000] font-[600]">ScopeDB</span>
      </div>
      <div
        class="text-[14px] text-[rgba(0,0,0,0.6)] font-[400] leading-[14px] pt-[12px]"
      >
        © 2025 ScopeDB. All rights reserved.
      </div>
    </div>

    <div
      class="grid grid-cols-2 md:grid-cols-4
        gap-[64px] pb-[90px] text-[14px] text-[#00000099]
        font-[400] leading-[14px]"
    >
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-[#000000]">
          Get Started
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/contact/">Book a demo</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/">Visit ScopeDB</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-[#000000]">
          Product
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/blog/">Blog</a>
        </div>
        <div class="pb-[16px]">
          <a href="/">Changelog</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-[#000000]">
          Company
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/">About</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/">Terms of Service</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/">Privacy Policy</a>
        </div>
      </div>
      <div>
        <div class="text-[14px] font-[500] pb-[24px] text-[#000000]">
          Connect
        </div>
        <div class="pb-[16px]">
          <a href="https://www.scopedb.io/contact/">Contact us</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://github.com/scopedb/">GitHub</a>
        </div>
        <div class="pb-[16px]">
          <a href="https://discord.gg/AynEZfqFvM">Discord</a>
        </div>
      </div>
    </div>
  </div>
</div>
