---
import Categories from "@/src/components/Categories.astro";
import Search from "./Search/";
import type { SidebarItem } from '@/src/libs/sidebar';

interface Props {
  sidebar?: SidebarItem[];
}

const { sidebar } = Astro.props;
---

<div class="fixed top-0 left-0 right-0 z-50 bg-white border-b border-[rgba(0,0,0,0.03)]">
  {/* 样式: 固定顶部导航 - 半透明背景，模糊效果 */}
  <div class="max-w-[1440px] mx-auto pt-[14px] px-[12px] md:px-[24px]">
    <div class="flex pb-[14px] items-center justify-between border-b border-[rgba(0,0,0,0.03)] ">
      <div class="title-wrapper flex items-center gap-[24px] ">
        {/* 样式: 左侧标题和Logo */}
        <a href="/" class="flex items-center gap-[12px]">
          <img src="/logo.svg" alt="ScopeDB Logo" class="h-[28px] w-[28px]" />
          <div class="text-[20px] text-[#000000] font-medium">ScopeDB</div>
          <div
            class="text-[16px] pl-[12px] md:pl-[16px] text-[rgba(0,0,0,0.80)] font-medium "
          >
            DOCUMENTATION
          </div>
        </a>
      </div>

      <div class="flex-1"></div>
      <div class="flex items-center gap-[16px]">
        <div class="hidden sm:block text-[14px]">
          <div><a href="https://www.scopedb.io/contact">Book a demo</a></div>
        </div>
        <Search client:only="react"/>
      </div>
    </div>

    <Categories sidebar={sidebar} />
  </div>
</div>
