---
import "@/src/styles/global.css";
import Footer from "@/src/components/Footer.astro";
import Header from "@/src/components/Header.astro";
import { ClientRouter } from "astro:transitions";
import type { SidebarItem } from '@/src/libs/sidebar';

interface Props {
  title: string;
  sidebar?: SidebarItem[];
}

const { title, sidebar } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title>{title}</title>
    <ClientRouter/>
  </head>
  <body class="min-h-screen flex flex-col">
    <header>
      <Header sidebar={sidebar} />
    </header>
    <main class="pt-[140px]">
      <slot />
    </main>
  </body>
</html>
